<div
  [class.g-light]="!isDark"
  [class.g-bg-dark]="isDark"
  [class.g-bg-light]="!isDark"
  class="d-flex l-container"
>
  <button (click)="handleBack()" class="btn mt-5 mb-auto mx-2 l-back">
    <img src="../../assets/icons/back.svg" />
  </button>
  <div class="mx-auto">
    <div *ngIf="selectedMovie" class="l-movie d-flex text-white p-5 my-5">
      <img
        class="l-poster py-3"
        src="{{
          !selectedMovie.Poster || selectedMovie.Poster === 'N/A'
            ? '../../assets/images/no-poster.png'
            : selectedMovie.Poster
        }}"
      />
      <div class="d-flex flex-column px-5 py-3 l-inner-content">
        <h1 class="font-weight-bold mb-2">
          {{ selectedMovie.Title }} ({{ selectedMovie.Year }})
        </h1>
        <div class="d-flex">
          <span
            *ngIf="selectedMovie.imdbRating !== 'N/A'"
            class="font-weight-bold l-rating text-center my-auto"
            >{{ selectedMovie.imdbRating }}
          </span>
          <span
            *ngIf="selectedMovie.Runtime !== 'N/A'"
            class="font-weight-bold l-run-time mx-2 text-center my-auto"
            >{{ selectedMovie.Runtime }}
          </span>
          <span
            *ngIf="selectedMovie.Rated !== 'N/A'"
            class="px-2 mr-2 font-weight-bold l-pg my-auto text-center"
            >{{ selectedMovie.Rated }}
          </span>
          <span
            *ngIf="selectedMovie.Language !== 'N/A'"
            class="my-2 font-weight-bold"
            >{{ selectedMovie.Language }}</span
          >
        </div>
        <h3 *ngIf="genres.length" class="font-weight-bold my-2">Genres</h3>
        <div class="d-flex my-2 flex-wrap">
          <div class="pb-3" *ngFor="let genre of genres">
            <span class="my-3 l-genre py-1 px-2 mr-2 font-weight-bold">
              {{ genre }}</span
            >
          </div>
        </div>

        <div *ngIf="selectedMovie.Plot !== 'N/A'">
          <h3 class="font-weight-bold my-2">About</h3>
          <span>{{ selectedMovie.Plot }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
