@import "src/variables.scss";

.l-movie {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #262834 74%);
  border-radius: 15px;
  max-width: 1000px;
}

.l-container {
  height: 100vh;
}

.l-poster {
  max-width: 250px;
}

.l-run-time,
.l-rating {
  background-color: #ff7200;
  border-radius: 20px;
  color: black;
}
.l-run-time {
  width: 80px;
}

.l-rating {
  width: 40px;
}

.l-pg {
  background-color: #d3423d;
  min-width: 30px;
  border-radius: 20px;
  color: black;
}

.l-genre {
  background-color: #9573c9;
  min-width: 30px;
  border-radius: 20px;
  color: black;
}

//scaling

@media (max-width: 1024px) {
  .l-movie {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .l-movie {
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    padding: 20px;
  }
  .l-container {
    flex-direction: column;
    height: unset;
  }

  .l-back {
    margin-right: auto !important;
  }

  .l-poster {
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 430px) {
  .l-movie {
    max-width: 300px !important;
    padding: 10px !important;
  }

  .l-inner-content {
    padding: 10px !important;
  }
}

//light theme

.g-light {
  .l-movie {
    background-color: #e8ebee;
    background-image: linear-gradient(315deg, #b6b6b6 0%, #f8f8f8 74%);
    color: black !important;
    box-shadow: $box-shadow;
  }
}
