<div [class.g-light]="!isDark">
  <mat-toolbar class="sticky-top l-sticky-top d-flex">
    <span class="l-title display-3 px-2 font-weight-bold my-auto">Movies</span>

    <div class="ml-auto l-search-container">
      <div class="d-flex mb-3 my-auto">
        <span
          (click)="handleTheme()"
          class="g-clickable badge l-theme my-auto px-2"
          >{{ isDark ? "Light" : "Dark" }} Mode
        </span>
        <div class="input-group mx-2 my-1">
          <input
            [(ngModel)]="title"
            (keyup)="handleSearch()"
            type="text"
            class="form-control l-input"
            placeholder="Title"
          />
        </div>
        <div *ngIf="title" class="input-group mx-2 my-1">
          <input
            [(ngModel)]="year"
            (keyup)="handleSearch()"
            type="text"
            class="form-control l-input"
            placeholder="Year"
          />
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>

<ng-content content></ng-content>
