@import "src/variables.scss";

.l-input {
  border: none;
}
.l-sticky-top {
  z-index: 3 !important;
  background-color: #262634;
  color: white;
  position: fixed;
}

.l-theme {
  background-color: $secondary-light;
  border-radius: 10px;
  font-weight: normal;
  color: white;
}

.g-light {
  .l-theme {
    background-color: #85858b;
  }

  .l-sticky-top {
    background-color: $primary-light;
    color: $secondary-light;
    box-shadow: $box-shadow;
  }
}

//scaling

@media (max-width: 770px) {
  .l-title {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .l-sticky-top {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .l-title {
    padding-bottom: 5px;
  }

  .l-theme {
    font-size: 12px;
  }

  .l-search-container {
    margin-right: auto;
    margin-left: auto;
  }
}
