<app-top-bar
  ($search)="handleSearch($event)"
  [class.g-light]="!isDark"
  class="my-5"
>
  <div
    content
    class="w-100 l-content pt-5 mt-5"
    [class.l-height-search]="isSearching && filteredMovies.length > 1"
    [class.l-height-all]="!isSearching"
    [class.l-single]="filteredMovies.length === 1"
  >
    <div
      class="mx-auto pt-5 d-flex flex-wrap l-container justify-content-center"
    >
      <ng-container *ngFor="let movie of filteredMovies">
        <div
          *ngIf="movie.Response === 'True'"
          class="g-clickable l-card p-3 text-center m-2"
          (click)="handleViewMovie(movie)"
        >
          <div class="d-flex flex-column">
            <span class="mb-3 d-flex">
              {{ movie.Title }}
              <span
                *ngIf="movie.imdbRating !== 'N/A'"
                class="l-rating p-1 ml-auto"
                >{{ movie.imdbRating }}</span
              >
            </span>
            <img
              src="{{
                !movie.Poster || movie.Poster === 'N/A'
                  ? '../../assets/images/no-poster.png'
                  : movie.Poster
              }}"
              alt="Poster"
              class="w-100 l-img mt-auto"
            />
          </div>
        </div>
      </ng-container>
      <div class="d-flex w-100 l-btn-outer">
        <button (click)="handleShuffle()" class="mx-auto btn l-btn-shuffle">
          <img src="../../assets/icons/shuffle.svg" />
        </button>
      </div>
    </div>
  </div>
</app-top-bar>
