@import "src/variables.scss";

.l-content {
  background-color: $primary-dark;
}

.l-container {
  max-width: 900px;
}

.l-single {
  height: 100% !important;
}

.l-height-all {
  height: max-content;
}

.l-height-search {
  height: 100%;
}

.l-card {
  background-color: #262634;
  border-radius: 10px;
  width: 200px;
  color: white;
}

.l-btn-shuffle {
  background-color: #feb538;
  opacity: 70%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.l-btn-outer {
  z-index: 100;
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.l-img {
  border-radius: 5px;
}

.l-rating {
  background-color: #feb538;
  color: black;
  border-radius: 30px;
  height: 25px;
  width: 25px;
  font-size: 12px;
}

//scaling
@media (max-width: 434px) {
  .l-single {
    height: 100% !important;
  }

  .l-height-search {
    height: max-content !important;
  }
}

//light theme changes

.g-light {
  .l-content {
    background-color: $primary-light !important;
  }

  .l-card {
    background-color: white;
    box-shadow: $box-shadow;
    color: $tertiary-light;
  }

  .l-btn-shuffle {
    background-color: $tertiary-light !important;
  }
}
