@import "~bootstrap/dist/css/bootstrap.min.css";
@import "src/variables.scss";

html,
body {
  height: 100%;
  background-color: transparent;
  position: relative;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.g-clickable {
  cursor: pointer;
}

.mat-toolbar {
  height: 120px !important;
}

//theme backgrounds

.g-bg-dark {
  background-color: $primary-dark;
}

.g-bg-light {
  background-color: $primary-light;
}
