//Dark themes
$primary-dark: #1d1e29;
$secondary-dark: #262634;

//light themes
$primary-light: #f9fafc;
$secondary-light: #e12a62;
$tertiary-light: #218e8a;

$box-shadow: rgba(
    $color: #000000,
    $alpha: 0.07,
  )
  0 3px 6px;
